*~
aclocal.m4
aminclude_static.am
ar-lib
autom4te.cache
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
cscope.*
depcomp
.deps
.dirstamp
*.gcda
*.gcno
install-sh
*.la
libtool
*.lo
*.log
ltmain.sh
m4
Makefile
Makefile.in
missing
*.o
stamp-h1
*.swp
test-driver
*.trs
.libs
