*~
aclocal.m4
aminclude_static.am
ar-lib
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
cscope.*
depcomp
.deps
.dirstamp
*.gcda
*.gcno
*.in
install-sh
libtool
ltmain.sh
m4
Makefile
missing
stamp-h1
*.swp
test-driver
