[Unit]
Description=MCTP demultiplexer daemon
Wants=pldmd.service
Before=pldmd.service

[Service]
Restart=always
Environment=DEMUX_BINDING_OPTS=null
EnvironmentFile=-/etc/default/mctp
ExecStart=/usr/bin/mctp-demux-daemon $DEMUX_BINDING_OPTS
SyslogIdentifier=mctp-demux

[Install]
WantedBy=multi-user.target
