[Unit]
Description=MCTP tun daemon

[Service]
Restart=always
EnvironmentFile=-/etc/default/mctp
ExecStart=/usr/bin/mctp-tun $TUN_OPTS
ExecStartPost=/usr/bin/setup-tun
SyslogIdentifier=mctp-tun

[Install]
WantedBy=multi-user.target
